<div class="full">
  <div class="container">
    <form *ngIf="form" [formGroup]="form" class="row justify-content-center">
      <ng-container [ngSwitch]="selectedStep">
        <app-register-step-one
          *ngSwitchCase="1"
          class="col-12"
          [form]="form"
          (valid)="validate($event)"
        ></app-register-step-one>
        <app-register-step-two
          *ngSwitchCase="2"
          class="col-12"
          [form]="form"
          (valid)="validate($event)"
        ></app-register-step-two>
        <app-register-step-three
          *ngSwitchCase="3"
          class="col-12"
          [form]="form"
          (valid)="validate($event)"
        ></app-register-step-three>
        <app-register-step-four
          *ngSwitchDefault
          class="col-12"
          [form]="form"
          (valid)="validate($event)"
        ></app-register-step-four>
      </ng-container>
      <app-footer>
        <div class="p-4 row">
          <ion-button
            *ngIf="valid"
            (click)="register()"
            class="col-12"
            color="light"
            >Entrar</ion-button
          >
        </div>
      </app-footer>
    </form>
  </div>
</div>
