<ion-content [fullscreen]="true">
  <div class="p-4 text-center">
    <app-img
      [width]="120"
      [height]="120"
      [circular]="true"
      source="../../../../../assets/img/logo-care.jpeg"
    ></app-img>
  </div>
  <form
    *ngIf="form"
    [formGroup]="form"
    class="p-4 row justify-content-center text-center"
  >
    <app-input
      class="col-12"
      type="mail"
      label="Email"
      [(formController)]="form.controls['mail']"
    ></app-input>
    <app-input
      class="col-12"
      type="password"
      label="Senha"
      [(formController)]="form.controls['password']"
    ></app-input>
    <app-text-msg
      type="danger"
      [validated]="validation.validate"
      [text]="validation.text"
    ></app-text-msg>
  </form>
  <app-footer>
    <div class="p-4 row">
      <ion-button (click)="logIn()" class="col-12" color="primary"
        >Entrar</ion-button
      >
      <small class="col-12">Esqueceu a senha?</small>
      <small class="col-12 mt-4"
        >Ainda não tem uma conta?
        <a [routerLink]="['/register']">Criar conta</a>
      </small>
    </div>
  </app-footer>
</ion-content>
