// CORES PRINCIPAIS
$primary: #005ca9;
$primary-strong: #1047df;
$primary-weak: #004c8c;

$secondary: #3dc2ff;
$secondary-strong: #36abe0;
$secondary-weak: #50c8ff;

$light: #ffffff;
$light-strong: #ffffff;
$light-weak: #f3f5f9;

$danger: #eb445a;
$danger-strong: #cf3c4f;
$danger-weak: #ed576b;

$gray: #92949c;
$gray-strong: #808289;
$gray-weak: #9d9fa6;

/** tertiary **/
$violet: #5260ff;
$violet-strong: #4854e0;
$violet-weak: #6370ff;

/** success **/
$success: #2dd36f;
$success-shade: #28ba62;
$success-tint: #42d77d;

/** warning **/
$warning: #ffc409;
$warning-shade: #e0ac08;
$warning-tint: #ffca22;

$text: #1f3033;
$dark: #1f3033;

// GRADIENTES /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
$gradiente-azul-caixa: linear-gradient(
  14.28deg,
  #00a2cd 27.43%,
  #0066a6 86.17%
);
$gradiente-header-caixa: linear-gradient(
  251.13deg,
  #00a2cd 24.32%,
  #0066a6 79.58%
);
