@import "../../../../../theme/variables.scss";

ion-item {
  color: var(--primary);
}

ion-toggle {
  margin-top: -25px;
  width: 35px;
  height: 15px;
  border-radius: 10px;
  border: 1px solid var(--secondary);
  --handle-width: 15px;
}

ion-toggle.toggle-checked {
  border: 1px solid var(--light);
}
